### NASA Mars News
* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [55]:
#importing the following libraries.
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

## Step 1 - Scraping

### NASA Mars News

In [47]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

/usr/local/bin/chromedriver

In [48]:
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [26]:
# news_item_list = soup.find('ul', class_="item_list")
# print(news_item_list)
# news_slides = news_item_list.find_all('li', class_="slide")
# print(f"Length : {len(news_slides)}")
news_title = soup.find('div', class_="content_title").text
news_p = soup.find('div', class_="article_teaser_body").text

print(f"news_title: {news_title}")
print(f"news_p: {news_p}")

# image_div = news_slides[0].find('div', class_="list_image")
# featured_image_url = image_div.find('img')['src']
# print(featured_image_url)

news_title: Mars Scientists Investigate Ancient Life in Australia
news_p: Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.

### JPL Mars Space Images - Featured Image

In [27]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [28]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [29]:
image_name= soup.find('article', class_='carousel_item')['alt'] 
print(image_name)

NASA-Generated Damage Map to Assist with 2015 Gorkha, Nepal Earthquake Disaster Response

In [31]:
base_url = 'https://www.jpl.nasa.gov'
img_url = soup.find(attrs={'data-title':image_name})["data-fancybox-href"] 
featured_image_url = base_url + img_url
print(f"featured_image_url:{featured_image_url}")

featured_image_url:https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA13911_ip.jpg

### Mars Weather

In [49]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [50]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [53]:
mars_weather= soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
# mars_weather= soup.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')
print(mars_weather)

First geologic map of Saturn's moon Titan. The Cassini mission continues to deliver. https://www.jpl.nasa.gov/news/news.php?feature=7542 …pic.twitter.com/tGK8vUWw81

### Mars Facts

In [56]:
url = 'https://space-facts.com/mars/'

In [57]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [61]:
mars_df = tables[1]
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [64]:
mars_df.columns = ['Mars - Earth Comparison', 'Mars','Earth']
mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [65]:
html_table = mars_df.to_html(header=None,index=False)
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [66]:
mars_df.to_html('table.html')

In [67]:
!open table.html

### Mars Hemispheres

In [71]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [91]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [92]:
product = soup.find('div', class_="collapsible results")
hemisphere_items = product.find_all('div', class_="item")
hemisphere_img_urls = []

for item in hemisphere_items:
    try:
        hemisphere_title  = item.find('h3').text
        hemisphere_href = item.find('a')['href']
        hemisphere_url = "https://astrogeology.usgs.gov"+hemisphere_href
        hemisphere_page = requests.get(hemisphere_url).text
        soup = BeautifulSoup(hemisphere_page, 'html.parser')

        hemisphere_page_img = soup.select('#wide-image > div > ul > li:nth-child(1) > a')
        hemisphere_img_url =  hemisphere_page_img[0]['href']
        hemisphere_img_dict = { "image title": hemisphere_title, "image url": hemisphere_img_url }
        hemisphere_img_urls.append(hemisphere_img_dict)

    except Exception as e:
        print(e)

hemisphere_img_urls

[{'image title': 'Cerberus Hemisphere Enhanced',
  'image url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'image title': 'Syrtis Major Hemisphere Enhanced',
  'image url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'image title': 'Valles Marineris Hemisphere Enhanced',
  'image url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]